nav ul li{
    list-style: none;
    height: 50px;
    display: inline;
    margin-left: 80px;
    border-radius: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.button{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.hello{
    text-align: center;
    border-radius: 50px;
    color: rgb(58, 38, 11);
}
.head{
    text-align: center;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
.nav{
    border: black solid 1px;
    height: 100px;
    background-image: url(https://i.pinimg.com/474x/b0/7a/c5/b07ac593f50e56ba79a8c74d521ffd62.jpg);
}
body{
    background-color: rgb(212, 195, 170);
   
}
.scale-image{
    border: black solid 3px;
    height: 500px;
    margin-left: 40vw;
    transition: all;
    scale: 1;
}
.scale-image:hover{
    scale: 0.75;
}
.isa{
    margin-left: 45vw;
    color: black;
    font-style: italic;
    font-weight: lighter;
    
}


.stud{
    margin-left: 40vw;
    font-family: 'Courier New', Courier, monospace;
  
}
